<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/db</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">pass</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- show mysql queries output in console -->
        <property name="hibernate.show_sql">true</property>

        <!-- manage automatic database creation -->
        <property name="hibernate.hbm2ddl.auto">create</property>

        <!-- mappings -->
        <mapping class="model.Caravan"/>
        <mapping class="model.Cemetery"/>
        <mapping class="model.Decoration"/>
        <mapping class="model.DeliveryCar"/>
        <mapping class="model.Driver"/>
        <mapping class="model.Employee"/>
        <mapping class="model.Funeral"/>
        <mapping class="model.GraveDigger"/>
        <mapping class="model.PremiumCoffin"/>
        <mapping class="model.Quarter"/>
        <mapping class="model.StandardCoffin"/>
        <mapping class="model.WorkDay"/>
        <mapping class="model.Car"/>
        <mapping class="model.Coffin"/>
        <mapping class="model.Customer"/>

    </session-factory>
</hibernate-configuration>